{%extends 'base.html'%} {% load bootstrap4 %} {% block content %} {{block.super}} {% for p in profile %}
<div class='row'>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{p.profile_photo.url}}" class="rounded-circle" alt="Rounded Image" width="200" height="200">

    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p style="color: #6153cc;">Like: {{p.bio}}</p>
    </div>

</div>

{% endfor %}
<div class="container">
    <!-- Looping through category  -->
    {% for i in image %}


    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="border:solid 5px #6153cc;border-radius: 25px;">
        <a href="#" class="btn btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{i.id}}">
            <img src="{{i.image.url}}" class="img-fluid" alt="Image" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> </a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="{{i.id}}" tabindex="" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="color: #6153cc;"> {{i.name}} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
                </div>
                    <div class="modal-body col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img src=" {{i.image.url}} " class="img-fluid" alt="Image " class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> </a>
                        <h2 class="text-center " style="color: #6153cc; "> {{ i.name }} </h2>
                        <p>{{i.caption}}</p>
                        <p style="color: #6153cc;">Like: {{i.likes}}</p>
                    </div>
                <div class="modal-footer ">
                    <button onclick="myFunction()">Copy Text</button>

                </div>
            </div>
        </div>
    </div>

    <!-- end of modal -->


    <br> {% empty %}
    <div class="row ">
        <h2 class="text-center ">There No images</h2>
        <p>{{i.description}}</p>

    </div>
    {% endfor %}
</div>
<div class="container-fluid">

    <form action="{% url 'profile' %}" method="post">
        {%csrf_token%} {% bootstrap_form letterForm layout='inline' %}
        <input type="submit" value="Subscribe">
    </form>

</div>
{% endblock %}